# ACCESS_TOKEN=[your Slack bot token]
# SOCKET_TOKEN=[your Slack socket token]
# PORT=[port for the Express server to listen on]
# YAML_FILE=[local path to your messages.yaml file]
# CHANNEL=[channel ID]

# useful channel IDs to have on hand:
# C01KPAX6AG2 - #bot-testing-ground
# C08H2P5RHA7 - #parneel-yaps