[Unit]
Description=pbhak's utilities, my Slack bot and its corresponding server
After=network.target

[Service]
WorkingDirectory=%h/utilities
ExecStart=/home/pbhak/.bun/bin/bun start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target